{% extends '../common/base/default.html' %}
{% block title %}パスワード変更-{{ block.super }}{% endblock %}
{% block description %}パスワード変更-{{ block.super }}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form class="" action="" method="post">
            <h2>パスワード変更</h2>
            {% if err_msg %}<div class="alert alert-danger" role="alert">{{ err_msg }}</div>{% endif %}
            <form class="" action="" method="post">
            {% csrf_token %}
            {% for field in form %}
                <label for="{{ field.name }}">{{ field.label }}</label>
                {% if field.name == "password0" %}<input type="password" class="form-control" name="{{ field.name }}" id="{{ field.name }}">{{ form.password0.errors }}
                {% elif field.name == "password" %}<input type="password" class="form-control" name="{{ field.name }}" id="{{ field.name }}">{{ form.password.errors }}
                {% elif field.name == "password2" %}<input type="password" class="form-control" name="{{ field.name }}" id="{{ field.name }}">{{ form.password2.errors }}
                {% else %}
                {% endif %}
            {% endfor %}
            <button type="submit" class='btn btn-outline-primary'>変更</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}