{% extends '../common/base/default.html' %}
{% block title %}ログイン-{{ block.super }}{% endblock %}
{% block description %}ログイン-{{ block.super }}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>ログイン</h3>
            {% if err_msg %}<div class="alert alert-danger" role="alert">{{ err_msg }}</div>{% endif %}
            <form action='{% url "senryu:regist_confirm" %}' method='post' class='form' novalidate="novalidate">
                <!-- ユーザー登録フォームを表示 -->
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col-sm-1">雅号</div><div class="col-sm-11">{{ senryu_obj.name }}</div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-1">初句</div><div class="col-sm-11">{{ senryu_obj.ku1 }}{{ senryu_obj.ku1.errors }}</div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-1">二句</div><div class="col-sm-11">{{ senryu_obj.ku2 }}{{ senryu_obj.ku2.errors }}</div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-1">結句</div><div class="col-sm-11">{{ senryu_obj.ku3 }}{{ senryu_obj.ku3.errors }}</div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-1">コメント</div><div class="col-sm-11">{{ senryu_obj.comment }}</div>
                </div>
                <button type='submit' class='btn btn-outline-primary'>確認</button>
                <a href='{% url "senryu:index" %}' class='btn btn-outline-secondary'>戻る</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
