{% extends '../common/base/default.html' %}
{% block title %}新規会員登録-{{ block.super }}{% endblock %}
{% block description %}新規会員登録-{{ block.super }}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
    <div class="col-md-12">
    <h2>新規会員登録</h2>
    {% if err_msg %}<div class="alert alert-danger" role="alert">{{ err_msg }}</div>{% endif %}
    <form class="" action="{% url "members:regist_confirm" %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        <label for="{{ field.name }}">{{ field.label }}</label>
        {% if field.name == "name" %}<input type="text" value="{% if field.value != None %}{{ field.value }}{% endif %}" class="form-control" name="{{ field.name }}" id="{{ field.name }}">{{ form.name.errors }}
        {% elif field.name == "email" %}<input type="text"  value="{% if field.value != None %}{{ field.value }}{% endif %}" class="form-control" name="{{ field.name }}" id="{{ field.name }}">{{ form.email.errors }}
        {% elif field.name == "email2" %}<input type="text"  value="{% if field.value != None %}{{ field.value }}{% endif %}" class="form-control" name="{{ field.name }}" id="{{ field.name }}">{{ form.email2.errors }}
        {% elif field.name == "password" %}<input type="password" class="form-control" name="{{ field.name }}" id="{{ field.name }}">{{ form.password.errors }}
        {% elif field.name == "password2" %}<input type="password" class="form-control" name="{{ field.name }}" id="{{ field.name }}">{{ form.password2.errors }}
        {% else %}
        {% endif %}
    {% endfor %}
    <button type="submit" class='btn btn-outline-primary'>確認</button>
    </form>
    </div>
    </div>
</div>
{% endblock %}