{% extends '../common/base/default.html' %}
{% block title %}川柳-{{ block.super }}{% endblock %}
{% block description %}川柳トップ--{{ block.super }}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="{% url "senryu:regist" %}" class='btn btn-outline-primary'>川柳を投稿する</a>
        </div>
    </div>
    <br>
    {% if pages %}
    <div class="row">
    <div class="col-sm-12">
    {% for obj in pages %}
    <div class="form-group row border border-primary rounded-start rounded-end">
        <div class="form-group row">
            <div class="col-sm-12">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-text" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                  </svg>
                {{ obj.ku1 }}　{{ obj.ku2 }}　{{ obj.ku3 }}{% if obj.name %}　by　{{ obj.name }}　さん{% else %}　by　詠み人知らず　さん{% endif %}
            </div>
        </div>
        <p></p>
        <div class="form-group row">
            <div class="col-sm-12">
                コメント：<br>{% if obj.comment != None %}{{ obj.comment|linebreaksbr }}{% else %}<p></p>{% endif %}
            </div>
        </div>
    </div>
    <br>
    {% endfor %}
    </div>
    </div>
    {% include "../common/parts/pagination.html" %}
    {% else %}
    <p>川柳データがありません</p>
    {% endif %}
{% endblock %}
